* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    background-color: #E5E5E5;
    height: 100vh;
}

.tollBar, .settingBar {
    padding: 5px 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}

.leftPanel, .rightPanel {
    display: flex;
}

.svgWrapper {
    margin-right: 16px;
    cursor: pointer;
}

.label {
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input {
    width: 43px;
    margin-left: 12px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.desk {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    width: 800px;
    height: 600px;
}
